<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.181" />
  <package id="Bottles.Deployment" version="0.9.1.181" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="FubuCore" version="1.0.0.225" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.150" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>