.svn
build_output
code_drop
bin
obj
_ReSharper*

*.suo
*.user 
*.csproj.user
*.resharper.user
*.resharper
*.cache
*~
*.swp
*.bak
*.orig
*.log
 
TestResult.xml
submit.xml
src/tests/*
tests/*
doc/*
SolutionVersion.cs
SolutionVersion.vb