.svn
build_output
code_drop
bin
obj
_ReSharper*
/packages
App_Data


*.suo
*.user 
*.csproj.user
*.DotSettings.user
*.[rR]esharper.user
*.cache
*~
*.swp
*.orig
*.log
*.sln.docstates
*.results.xml
*.bak
 
TestResult.xml
submit.xml
SolutionVersion.cs
SolutionVersion.vb

.DS_Store
Thumbs.db