<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.131" />
  <package id="Bottles.Deployment" version="0.9.1.131" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="FubuCore" version="0.9.2.76" />
  <package id="HtmlTags" version="1.0.0.23" />
  <package id="structuremap" version="2.6.3" />
</packages>